body {
	background-color:DarkGreen;
	color:white;
	
}

header {
	background-color:black;
	margin-top:10px;
	overflow:hidden;
	
}

h1 {
	text-align:center;
	color:white; 	
	font-size: 3em; 
	font-weight:bold; 
	font-variant:small-caps;
	
}

p{
	margin-top:30px; 
	font-size:1.25em;
}

#middle {
	float:left;
	overflow:hidden;
	padding:10px;
}

